doctype
html
    head 
        base(href="/")
        title Hydra-Walking Skeleton
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/lib/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body(np-app='app')
        block main-content
        include scripts
